<footer class="py-3 bg-main-light p-5">
  <div class="container">
    <h2 class="h4">Get the FreshCart app</h2>
    <p class="text-muted text-sm">
      We Will send you a link, open it on your phone to download the app
    </p>
    <div class="d-flex column-gap-2 align-items-center">
      <input type="email" class="form-control" placeholder="Email" />
      <button class="btn bg-main text-white share">Share App Link</button>
    </div>
    <hr />
    <div class="foot d-flex justify-content-between align-items-center">
      <div class="payment d-flex align-items-center">
        <span class="fw-bold">Payment</span>
        <div class="payIcons d-flex ps-2">
          <img
            src="assets/images/amazon-removebg-preview.png"
            alt="Amazon"
            class="img-fluid"
          />

          <img
            src="assets/images/express-removebg-preview.png"
            alt="Express"
            class="img-fluid"
          />

          <img
            src="assets/images/masterCard-removebg-preview.png"
            alt="Master Card"
            class="img-fluid"
          />

          <img
            src="assets/images/paypal-removebg-preview.png"
            alt="PayPal"
            class="img-fluid"
          />
        </div>
      </div>

      <div class="apps d-flex align-items-center">
        <span class="fw-bold">Application</span>
        <img
          src="assets/images/appStore-removebg-preview.png"
          alt="Apple"
          class="img-fluid"
          style="width: 120px; height: 40px"
        />
        <img
          src="assets/images/gp-removebg-preview.png"
          alt="Android"
          class="img-fluid"
          style="width: 120px; height: 40px"
        />
      </div>
    </div>
    <hr />
  </div>
</footer>
