<div class="layer w-100 h-100">
  <img src="assets/images/freshcart-logo.svg" alt="" class="img-fluid" />
  <i class="fa-solid fa-spinner fa-spin spinner"></i>
</div>

<div class="categories">
  <div class="container">
    <div class="row row-gap-4 my-5">
      <div
        *ngFor="let category of allCategories; let i = index"
        class="con col-md-4"
      >
        <div class="product position-relative overflow-hidden">
          <img [src]="category.image" class="w-100" alt="" />

          <div
            class="overlay position-absolute w-100 d-flex justify-content-center align-items-center"
          >
            <h2 class="text-white">{{ category.name }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
