.categories img {
  height: 300px;
}
@media (max-width: 991px) {
  .categories img {
    height: 100% !important;
  }
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  height: 0px !important;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.con:hover .overlay {
  height: 100% !important;
  opacity: 1;
}
.product {
  border-radius: 10px;
}
